name: "psalm"

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php-version: ['8.4']

    steps:
      - uses: actions/checkout@v5

      - uses: shivammathur/setup-php@master
        with:
          php-version: ${{ matrix.php-version }}
          coverage: none

      - uses: ramsey/composer-install@v3
        with:
          composer-options: "--no-interaction"

      - run: composer run test-sca
